.mapPanel {
  background: #ccc;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  position: flex;
}

.mapContainer {
  position: relative;
  background: purple;
  height: 100%;
}

.mapHeader {
  padding: 1rem;
  display: flex;
}